@font-face {
      font-family: openSansCondensed;
      src: url(Fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf);
}

/*----------- CAROUSEL ----------------*/
.carousel .carousel-control { 
	visibility: hidden; 
}
.carousel:hover .carousel-control { 
	visibility: visible; 
	background: none;
}

.carousel .carousel-indicators {
	visibility: hidden;
}
