@font-face {
      font-family: openSansCondensed;
      src: url(Fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf);
}

/*----------- NAVBAR ----------------*/

/* making the navbar button visible */
.navbar-toggle .icon-bar { 
    background-color: black;
}

/* center navbar links */
.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav { 
    float: none;
    display:inline-block;
}

.navbar.center {
        margin-bottom: 0px;
}

.nav a{
	color: grey;
  font-family: openSansCondensed;
  text-transform: uppercase;
  font-size: 1.5em;
}

ul.nav a:hover{
	color: black;
	background-color: white !important; 
}

ul.nav a:visited{
	background-color: white !important; 
}

hr.line {
	margin: 0px;
}

#active {
  color: black;

}



#pageTitle{
  font-family: openSansCondensed;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 7%;
}

/*hide title of page when in full screen, show for small screens*/
@media only screen and (min-width : 768px) {
    #pageTitle{
      visibility: hidden;
      margin: 0px;
      height: 0px;
    }
}